/* CSS Variables */

:root {
  --background-light: #fff;
  /* Premium light gray/blue tint */
  --font-poppins: 'Poppins', sans-serif;
  --scrollbar-size: 6px;
  --scrollbar-track: rgba(0, 0, 0, 0.06);
  --scrollbar-thumb: rgba(0, 0, 0, 0.28);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.4);
  --scrollbar-thumb-active: rgba(0, 0, 0, 0.5);
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base HTML & Body */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #171717;
  background: var(--background-light);
  max-width: 100vw;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 999px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;

  /* Trick to control thickness */
  border: 2px solid transparent;
  background-clip: content-box;

  transition:
    border 0.25s ease,
    background-color 0.25s ease;
}

/* Hover → increase width */
::-webkit-scrollbar-thumb:hover {
  border: 0px solid transparent;
  /* removes padding → thumb looks thicker */
  background-color: var(--scrollbar-thumb-hover);
}

/* Active (dragging) */
::-webkit-scrollbar-thumb:active {
  border: 0px solid transparent;
  background-color: var(--scrollbar-thumb-active);
}